<?xml version="1.0"?>

<!-- This file contains the Gazebo controller interface. -->
<robot name="smb" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="simulation"   default="false"/>
  <xacro:if value="$(arg simulation)">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libsmb_gazebo.so">
        <robotNamespace>smb</robotNamespace>
        <robotDescription>smb_description_for_gazebo</robotDescription>
        <robotBaseLink>base</robotBaseLink>
        <statePublisherRate>400.0</statePublisherRate>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
