<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="smb">
	
	<!-- Includes -->
	 <xacro:include filename="$(find smb_description)/urdf/smb_controller.gazebo.xacro"/>
	 <xacro:include filename="$(find smb_description)/urdf/smb.urdf.xacro" />

        <!-- Arguments -->
        <xacro:arg name="wheel_joint_type"          default="fixed"/> <!-- continuous for gazebo -->

	<!-- Global Properties -->
	<!--xacro:property name="robot_name" value="smb"/-->  

	<xacro:smb wheel_joint_type="$(arg wheel_joint_type)"/>

	<!-- Mount sensors -->  
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="base" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="false">
    <origin xyz="0.0 0 0.16" rpy="0 0 0" />
  </VLP-16>
  
  <xacro:include filename="$(find smb_description)/urdf/vi_sensor/component_snippets.xacro" />
  <xacro:vi_sensor_macro
    namespace="vi_sensor"
    parent_link="base"
    enable_cameras="true"
    enable_depth="true"
    enable_ground_truth="false">
    <origin xyz="0.3 0.0 0.05" rpy="0.0 0.0 0.0" />
  </xacro:vi_sensor_macro>

</robot>
