<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="omniview_macro" params="link_name joint_name parent_name *origin">
      <link name="${link_name}">
      <xacro:if value="$(arg mesh)">
        <visual>
          <xacro:insert_block name="origin"/>
          <geometry>
            <mesh filename="package://any_description/urdf/sensors/omniview/omniview.dae"
                  scale=".001 .001 .001"/>
          </geometry>
        </visual>
      </xacro:if>
    </link>
    <joint name="${joint_name}" type="fixed">
      <parent link="${parent_name}"/>
      <child link="${link_name}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>


</robot>
