<?xml version="1.0" encoding="UTF-8"?> 
<launch>  
  
  <arg name="output" default="screen"/>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  <!-- Modules to load -->
  <arg name="modules" default="[]"/>
  
  <node name="joy_manager" pkg="joy_manager" type="joy_manager_node" output="$(arg output)" launch-prefix="$(arg launch_prefix)">
    <rosparam file="$(find joy_manager)/config/joy_manager.yaml" command="load"/>
    <rosparam param="modules" subst_value="True">$(arg modules)</rosparam>
  </node>
  
</launch>
