<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Namespace -->
  <arg name="ns" value="user_interface"/>

  <!-- Parameter (without namespace) -->
  <rosparam file="$(find rqt_parameters)/params/anymal.yaml"
            command="load"/>

  <!-- Node -->
  <node ns="$(arg ns)" pkg="rqt_parameters"
        type="rqt_parameters" name="rqt_parameters"
        output="screen"/>
</launch>
