<?xml version="1.0"?>


<robot name="sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Arguments -->
  <xacro:arg name="simulation"          default="true"/>
  <xacro:arg name="perfect_sensors"     default="true"/>
  <xacro:arg name="mesh"                default="true"/>
  <xacro:arg name="material_color_rgba" default="0.7 0.7 0.7 1.0"/>

  <!-- Sensors -->
  <xacro:arg name="velodyne"            default="false"/>
  <xacro:arg name="ouster"              default="false"/>
  <xacro:arg name="realsense"           default="false"/>
  <xacro:arg name="omniview"            default="false"/>
  <xacro:arg name="piksi"               default="false"/>
  <xacro:arg name="imu"                 default="false"/>

  <!-- Sensor models -->
  <xacro:arg name="imu_model"           default="xsens_mti"/>
  <xacro:arg name="realsense_model"     default="d435"/>

  <!-- Properties -->
  <xacro:property name="PI"               value=" 3.14159265358979"/>
  <xacro:property name="imu_model"        value="$(arg imu_model)"/>
  <xacro:property name="realsense_model"  value="$(arg realsense_model)"/>

  <!-- Dummy base link -->
  <link name="base"/>

  <!-- Velodyne -->
  <xacro:if value="$(arg velodyne)">
    <!-- Sensor -->
    <xacro:include filename="$(find any_description)/urdf/sensors/velodyne/velodyne.urdf.xacro"/>
    <xacro:VLP-16-lite parent="base" topic="/velodyne/point_cloud" samples="440">
      <!-- Transformation from the Mount to the Velodyne visual center -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <!-- Calibration transformation from axis aligned velodyne to its actual pose -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:VLP-16-lite>
  </xacro:if>

  <!-- Ouster -->
  <xacro:if value="$(arg ouster)">
    <!-- Sensor -->
    <xacro:include filename="$(find any_description)/urdf/sensors/ouster/ouster.urdf.xacro"/>
    <xacro:ouster name="os1" parent="base">
      <!-- Transformation from the Mount to the Ouster visual center -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:ouster>
  </xacro:if>

  <!-- Realsense -->
  <xacro:if value="$(arg realsense)">
    <!-- Sensor -->
    <xacro:include filename="$(find any_description)/urdf/sensors/realsense/${realsense_model}/realsense_$(arg realsense_model).urdf.xacro"/>
    <xacro:realsense_macro name="realsense_$(arg realsense_model)" model="2" parent="base">
      <!-- Calibration transformation from axis aligned realsense camera to its actual pose -->
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:realsense_macro>
  </xacro:if>

  <!-- Omniview -->
  <xacro:if value="$(arg omniview)">
    <!-- TODO -->
  </xacro:if>

  <!-- Piksi -->
  <xacro:if value="$(arg piksi)">
    <xacro:include filename="$(find any_description)/urdf/sensors/piksi/piksi.urdf.xacro"/>
    <xacro:piksi_macro parent="base" child_name="gps_antenna" mesh="$(arg mesh)" simulation="$(arg simulation)"/>
  </xacro:if>

  <!-- Imu -->
  <xacro:if value="$(arg imu)">
    <!-- xsens_mti -->
    <xacro:if value="${imu_model == 'xsens_mti'}">
      <xacro:include filename="$(find any_description)/urdf/sensors/imu/${imu_model}/${imu_model}.urdf.xacro"/>
      <xacro:xsens_mti name="imu" parent="base" update_rate="400" ns="sensors" frame_id="imu_link" topic_name="imu">
        <origin xyz="0.038 0.06245 0.1837" rpy="0 ${PI} 0"/>
      </xacro:xsens_mti>
    </xacro:if>
  </xacro:if>

</robot>
