<?xml version="1.0"?>

<!-- This file contains the Gazebo controller interface. -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_controller" params="plugin_name file_name ns description_name base_name update_rate">
    <xacro:if value="$(arg simulation)">
      <gazebo>
        <plugin name="${plugin_name}" filename="${file_name}">
          <robotNamespace>${ns}</robotNamespace>
          <robotDescription>${description_name}</robotDescription>
          <robotBaseLink>${base_name}</robotBaseLink>
          <statePublisherRate>${update_rate}</statePublisherRate>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
