<?xml version="1.0" encoding="UTF-8"?> 
<launch>  
  
  <arg name="output" default="screen"/>
  <!-- Name space -->
  <arg name="ns" default=""/>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  <!-- location of joystick device -->
  <arg name="joy_dev" default="/dev/input/jsLogitechF710"/>
  <!-- location of feedback device -->
  <arg name="feedback_dev" default="/dev/input/eventLogitechF710"/>
  <!-- name of the interface node -->
  <arg name="node_name" default="logitechF710_interface"/>
  <!-- list of the modules to load [AnymalModule, AnypulatorModule] -->
  <arg name="modules" default="[]"/>
  <!-- topic to publish the AnyJoy messages to; 
  This has to be specified in the JoyManager aswell!-->
  <arg name="anyJoy_topic" default="/anyjoy/operator"/>
  
  
  <!-- Interface Node -->
  <node name="$(arg node_name)" pkg="joy_interface" type="joy_interface_node" output="$(arg output)" launch-prefix="$(arg launch_prefix)">
    <rosparam param="modules" subst_value="True">$(arg modules)</rosparam>
    <rosparam param="publishers/anyJoy/topic" subst_value="True">$(arg anyJoy_topic)</rosparam>
    <rosparam file="$(find joy_interface)/config/logitechf710.yaml" command="load"/>
    <remap from="$(arg node_name)/joy" to="$(arg ns)/joy/logitech_f710"/>
  </node>
  
  <!-- Joy Node -->
  <node name="logitechF710" respawn="true" pkg="joy" type="joy_node" >
    <param name="dev" type="string" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.12" />
    <remap from="joy" to="$(arg ns)/joy/logitech_f710"/>
  </node>
  
  <!-- Feedback Node -->
  <node name="logitechF710_feedback" pkg="joy_interface" type="feedback_node" output="$(arg output)" launch-prefix="$(arg launch_prefix)">
    <rosparam param="feedback_dev" subst_value="True">$(arg feedback_dev)</rosparam>
    <rosparam param="feedback_gain">0xffff</rosparam>
    <rosparam param="subscribers/feedback/topic">/feedback/logitech_f710</rosparam>
    <rosparam param="subscribers/feedback/queue_size">10</rosparam>
  </node>
  
</launch>
