<?xml version="1.0" encoding="UTF-8"?> 
<launch>  
  
  <arg name="output" default="screen"/>
  <!-- Name space -->
  <arg name="ns" default=""/>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  <!-- location of joystick device (unused) -->
  <arg name="joy_dev" default="/dev/input/jsSpacenav"/>
  <!-- location of feedback device (unused) -->
  <arg name="feedback_dev" default="/dev/input/eventSpacenav"/>
  <!-- name of the interface node -->
  <arg name="node_name" default="spacenav_interface"/>
  <!-- list of the modules to load [AnymalModule, AnypulatorModule] -->
  <arg name="modules" default="[]"/>
  <!-- topic to publish the AnyJoy messages to; 
  This has to be specified in the JoyManager aswell!-->
  <arg name="anyJoy_topic" default="/anyjoy/operator"/>
  
  
  <!-- Interface Node -->
  <node name="$(arg node_name)" pkg="joy_interface" type="joy_interface_node" output="$(arg output)" launch-prefix="$(arg launch_prefix)">
    <rosparam param="modules" subst_value="True">$(arg modules)</rosparam>
    <rosparam param="publishers/anyJoy/topic" subst_value="True">$(arg anyJoy_topic)</rosparam>
    <rosparam file="$(find joy_interface)/config/spacenav.yaml" command="load"/>
    <remap from="$(arg node_name)/joy" to="$(arg ns)/joy/spacenav"/>
  </node>
  
  <!-- SpaceNav Node -->
  <node name="spacenav" respawn="true" pkg="spacenav_node" type="spacenav_node" >
    <param name="full_scale" value="350" />
    <remap from="joy" to="$(arg ns)/joy/spacenav"/>
  </node>
  
</launch>
