<?xml version="1.0" encoding="UTF-8"?> 
<launch>  
  
  <arg name="output" default="screen"/>
  <!-- Name space -->
  <arg name="ns" default=""/>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  <!-- location of joystick device -->
  <arg name="joy_dev" default="/dev/input/jsSteam"/>
  <!-- location of feedback device -->
  <arg name="feedback_dev" default="/dev/input/eventSteam"/>
  <!-- name of the interface node -->
  <arg name="node_name" default="steam_controller_interface"/>
  <!-- list of the modules to load [AnymalModule, AnypulatorModule] -->
  <arg name="modules" default="[]"/>
  <!-- topic to publish the AnyJoy messages to; 
  This has to be specified in the JoyManager as well!-->
  <arg name="anyJoy_topic" default="/anyjoy/operator"/>

  <!-- Interface Node -->
  <node name="$(arg node_name)" pkg="joy_interface" type="joy_interface_node" output="$(arg output)" launch-prefix="$(arg launch_prefix)">
    <rosparam param="modules" subst_value="True">$(arg modules)</rosparam>
    <rosparam param="publishers/anyJoy/topic" subst_value="True">$(arg anyJoy_topic)</rosparam>
    <rosparam file="$(find joy_interface)/config/steam_controller.yaml" command="load"/>
  </node>

  <!-- Joy Node -->
  <node name="steam_controller" respawn="true" pkg="steam_controller_ros" type="steam_controller_ros.py" >
    <remap from="/steam_controller/joy" to="$(arg ns)/joy/steam_controller"/>
  </node>

</launch>
