<?xml version="1.0"?>

<!--Copyright (C) 2014 by Jerome Maye                                        -->
<!--jerome.maye@gmail.com                                                    -->
<!--                                                                         -->
<!--This program is free software; you can redistribute it and/or modify     -->
<!--it under the terms of the Lesser GNU General Public License as published -->
<!--by the Free Software Foundation; either version 3 of the License, or     -->
<!--(at your option) any later version.                                      -->
<!--                                                                         -->
<!--This program is distributed in the hope that it will be useful,          -->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of           -->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the             -->
<!--Lesser GNU General Public License for more details.                      -->
<!--                                                                         -->
<!--You should have received a copy of the Lesser GNU General Public License -->
<!--along with this program. If not, see <http://www.gnu.org/licenses/>.     -->

<!-- This file contains the description of an Xsens MTi IMU. -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Parameters -->
  <xacro:property name="l_imu" value="0.058"/> <!-- [m] -->
  <xacro:property name="w_imu" value="0.058"/> <!-- [m] -->
  <xacro:property name="h_imu" value="0.022"/> <!-- [m] -->
  <xacro:property name="m_imu" value="0.05"/> <!-- [kg] -->
  <xacro:property name="mu_imu" value="0.8"/>

  <xacro:include filename="$(find any_description)/urdf/inertia_tensors.urdf.xacro"/>

  <!-- IMU description -->
  <xacro:macro name="xsens_mti_model" params="name parent *origin">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 ${h_imu * 0.5}" rpy="0 0 0"/>
        <geometry>
          <box size="${l_imu} ${w_imu} ${h_imu}"/>
        </geometry>
        <material name="orange"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${h_imu * 0.5}" rpy="0 0 0"/>
        <geometry>
          <box size="${l_imu} ${w_imu} ${h_imu}"/>
        </geometry>
      </collision>
      <xacro:inertial_cuboid m="${m_imu}" w="${l_imu}" h="${h_imu}"
        d="${w_imu}"/>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>

  <!-- IMU Gazebo -->
  <xacro:macro name="xsens_mti" params="name parent update_rate ns frame_id
      topic_name *origin"> <!-- update_rate is not used -> Could be removed -->
    <xacro:xsens_mti_model name="${name}" parent="${parent}">
      <xacro:insert_block name="origin"/>
    </xacro:xsens_mti_model>

	<xacro:if value="$(arg simulation)">

      <gazebo reference="${name}_link">
        <material>Gazebo/Orange</material>
        <mu1>${mu_imu}</mu1>
        <mu2>${mu_imu}</mu2>
      </gazebo>

      <gazebo reference="${name}_joint">
      </gazebo>

      <gazebo>
        <plugin name="${name}_plugin" filename="libany_hector_gazebo_ros_imu.so">
          <robotNamespace>${ns}</robotNamespace>
          <bodyName>${name}_link</bodyName>
          <frameId>${frame_id}</frameId>
          <topicName>${topic_name}</topicName>
          <biasTopicName>${topic_name}/bias</biasTopicName>
          <serviceName>${topic_name}/calibrate</serviceName>
		      <updateRate>400</updateRate>

          <xacro:unless value="$(arg perfect_sensors)">
            <!-- See https://www.xsens.com/wp-content/uploads/2013/11/mti-leaflet.pdf for the complete IMU specs-->
            <accelOffset>0 0 0</accelOffset>
            <accelDrift>0.5 0.5 0.5</accelDrift>
            <accelDriftFrequency>0 0 0</accelDriftFrequency>
            <accelGaussianNoise>0.35 0.35 0.3</accelGaussianNoise>
            <accelScaleError>1 1 1</accelScaleError>
            <rateOffset>0 0 0</rateOffset>
            <rateDrift>0.1 0.1 0.1</rateDrift>
            <rateDriftFrequency>0 0 0</rateDriftFrequency>
            <rateGaussianNoise>0.05 0.05 0.015</rateGaussianNoise>
            <rateScaleError>1 1 1</rateScaleError>
            <yawOffset>0</yawOffset>
            <yawDrift>0.1</yawDrift>
            <yawDriftFrequency>0</yawDriftFrequency>
            <yawGaussianNoise>0.05</yawGaussianNoise>
            <yawScaleError>1</yawScaleError>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
          </xacro:unless>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
