<?xml version='1.0'?>
<model>
  <name>Stairs 240 mm x 185 mm</name>
  <version>0.1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Peter Fankhauser</name>
    <email>pfankhauser@anybotics.com</email>
  </author>
  <description>
    A stair model with 240 mm run and 185 mm rise.
  </description>
</model>
