<?xml version='1.0'?>
<model>
  <name>gap_with_phase</name>
  <version>0.1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Peter Fankhauser</name>
    <email>pfankhauser@anybotics.com</email>
  </author>
  <description>
    A gap with a rounded edge (phase) on one edge.
  </description>
</model>
