<library path="lib/librqt_joypad">
    <class name="rqt_joypad/JoypadPlugin" type="rqt_joypad::JoypadPlugin"
           base_class_type="rqt_gui_cpp::Plugin">
        <description>
            Joypad
        </description>
        <qtgui>
            <group>
                <label>Any</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to any</statustip>
            </group>
            <label>Joypad</label>
            <icon type="theme">applications-graphics</icon>
            <statustip>Joypad</statustip>
        </qtgui>
    </class>
</library>
