<?xml version="1.0" encoding="UTF-8"?> 
  
<launch>

  <include file="$(find smb_lowlevel_controller)/launch/smb_lowlevel_controller.launch" />

  <node name="waco_confusor" pkg="waco_state_estimator" type="waco_confusor" output="screen">
    <param name="forward_propagate_state_override" value="true"/>
  </node>

  <node name="polling_driver" pkg="xsens_driver_adrl" type="polling_driver" output="screen" />

</launch>
