<library path="lib/librqt_parameters">
    <class name="ParametersPlugin" type="rqt_parameters::ParametersPlugin" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            An interface for parameter_handler.
        </description>
        <qtgui>
            <group>
                <label>Any</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to any</statustip>
            </group>
            <label>Parameters</label>
            <icon type="theme">applications-graphics</icon>
            <statustip>An interface for parameter_handler.</statustip>
        </qtgui>
    </class>
</library>
