<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Specify if the software runs in simulation -->
  <arg name="simulation"              default="false"/>
  <!-- Set true to simulate sensors without noise and bias -->
  <arg name="perfect_sensors"         default="true"/>
  <!-- Give the robot description parameter a name -->
  <arg name="description_name"        default="sensors"/>
  <!-- Set robot description path -->
  <arg name="description_file"        default="$(find any_description)/urdf/debug_sensors.urdf.xacro"/>
  <!-- Set true to draw the meshes -->
  <arg name="mesh"                    default="true"/>
  <!-- Set the material color -->
  <arg name="material_color_rgba"     default="0.7 0.7 0.7 1.0"/>
  <!-- Enable/disable the velodyne -->
  <arg name="velodyne"                default="false"/>
  <!-- Enable/disable the ouster -->
  <arg name="ouster"                  default="false"/>
  <!-- Enable/disable the realsense -->
  <arg name="realsense"               default="false"/>
  <!-- Enable/disable the omniview -->
  <arg name="omniview"                default="false"/>
  <!-- Enable/disable the piksi -->
  <arg name="piksi"                   default="false"/>
  <!-- Enable/disable the imu -->
  <arg name="imu"                     default="false"/>

  <!-- Imu models (xsens_mti)-->
  <arg name="imu_model"               default="xsens_mti"/>
  <!-- Realsense models (zr300, d435)-->
  <arg name="realsense_model"         default="d435"/>


  <!-- Run xacro script to generate sensor descriptions -->
  <param name="$(arg description_name)" command="$(find xacro)/xacro
    $(arg description_file)
    simulation:=$(arg simulation)
    perfect_sensors:=$(arg perfect_sensors)
    mesh:=$(arg mesh)
    material_color_rgba:='$(arg material_color_rgba)'
    velodyne:=$(arg velodyne)
    ouster:=$(arg ouster)
    realsense:=$(arg realsense)
    omniview:=$(arg omniview)
    piksi:=$(arg piksi)
    imu:=$(arg imu)
    imu_model:=$(arg imu_model)
    realsense_model:=$(arg realsense_model)"/>

</launch>
