<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Name of the robot description parameter -->
  <arg name="description_name"         default="sensors"/>
  <!-- Set robot description path -->
  <arg name="description_file"         default="$(find any_description)/urdf/debug_sensors.urdf.xacro"/>

  <!-- Enable/disable the velodyne -->
  <arg name="velodyne"                default="false"/>
  <!-- Enable/disable the ouster -->
  <arg name="ouster"                  default="false"/>
  <!-- Enable/disable the realsense -->
  <arg name="realsense"               default="false"/>
  <!-- Enable/disable the omniview -->
  <arg name="omniview"                default="false"/>
  <!-- Enable/disable the piksi -->
  <arg name="piksi"                   default="false"/>
  <!-- Enable/disable the imu -->
  <arg name="imu"                     default="false"/>

  <!-- Load robot description -->
  <include file="$(find any_description)/launch/load.launch">
    <arg name="description_name" value="$(arg description_name)"/>
    <arg name="description_file" value="$(arg description_file)"/>
    <arg name="velodyne"         value="$(arg velodyne)"/>
    <arg name="ouster"           value="$(arg ouster)"/>
    <arg name="omniview"         value="$(arg omniview)"/>
    <arg name="realsense"        value="$(arg realsense)"/>
    <arg name="piksi"            value="$(arg piksi)"/>
    <arg name="imu"              value="$(arg imu)"/>
  </include>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100"/>
    <param name="use_tf_static"     value="true"/>
    <remap from="robot_description" to="$(arg description_name)"/>
  </node>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find any_description)/config/rviz/standalone.rviz"
        output="screen"/>
</launch>
