<library path="lib/librqt_gazebo_interface">
    <class name="GazeboInterfacePlugin" type="GazeboInterfacePlugin" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            An rqt plugin that provides a gui for gazebo.
        </description>
        <qtgui>
            <group>
                <label>Any</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to any</statustip>
            </group>
            <label>Gazebo interface</label>
            <icon type="theme">applications-graphics</icon>
            <statustip>An rqt plugin that provides a gui for gazebo.</statustip>
        </qtgui>
    </class>
</library>
