<library path="lib/librqt_signal_logger">
    <class name="SignalLoggerPlugin" type="rqt_signal_logger::SignalLoggerPlugin" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            An interface for signal_logger.
        </description>
        <qtgui>
            <group>
                <label>Any</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to any</statustip>
            </group>
            <label>Signal Logger</label>
            <icon type="theme">applications-graphics</icon>
            <statustip>An interface for signal_logger.</statustip>
        </qtgui>
    </class>
</library>
