<?xml version="1.0"?>

<root xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:macro name="kinova_realsense" params="prefix parent xyz rpy camera_name simulation:=false">

  <joint name="${parent}_to_realsense" type="fixed">
            <parent link="${parent}"/>
            <child link="realsense"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>

  <!-- RealSense camera link -->
  <link name="realsense">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size = "0.025 0.025 0.09"/>
      </geometry>
        <material name="anymal_material" />
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="-0.03 0.0 0.0"/>
        <geometry>
          <box size="0.110 0.125 0.064"/>
        </geometry>
        <material name="anymal_material" />
      </collision>
      <inertial>
        <!-- The following are not reliable values, and should not be used for modeling -->
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257" />
      </inertial>
  </link>

  <xacro:if value="${simulation}">
    <!-- camera joint to depth_optical_frame-->
    <joint name="realsense_to_depth_optical_frame" type="fixed">
      <parent link="realsense"/>
      <child link="depth_optical_frame"/>
      <origin xyz="0.0 0.0 0.0" rpy="-${PI / 2} 0.0 -${PI / 2}"/>
    </joint>

    <!-- depth_optical_frame -->
    <link name="depth_optical_frame">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <!-- Set the inertial parameters to neglectable values: these effects will be considered on a different rigid body -->
        <mass value="0.001"/>
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
      </inertial>
    </link>

    <!-- Gazebo plugin -->
    <gazebo reference="realsense">
      <sensor type="depth" name="${camera_name}">
        <always_on>1</always_on>
        <visualize>true</visualize>
        <camera>
          <horizontal_fov>1.5917</horizontal_fov> <!-- 91.2 degrees -->
          <image>
            <width>424</width>
            <height>240</height>
            <format>R8G8B8</format>
          </image>
          <depth_camera>

          </depth_camera>
          <clip>
            <near>0.1</near>
            <far>10.0</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${camera_name}</cameraName>
          <frameName>depth_optical_frame</frameName>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <pointCloudTopicName>depth/color/points</pointCloudTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudCutoff>0.4</pointCloudCutoff>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0.0</CxPrime>
          <Cx>0.0</Cx>
          <Cy>0.0</Cy>
          <focalLength>0.0</focalLength>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:if>
  </xacro:macro>

</root>
