<?xml version="1.0"?>

<robot name="waco" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="smb.urdf.xacro"/>
  <xacro:include filename="kinova.urdf.xacro"/>
  
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Arguments -->
  <xacro:arg name="simulation"          default="true"/>
  <xacro:arg name="realsense_on_hand"   default="false"/>
  <xacro:arg name="wheel_joint_type"    default="continuous"/>

  <xacro:smb wheel_joint_type="$(arg wheel_joint_type)"/>

  <link name="arm_base">  </link>

  <joint name="base_to_arm_base" type="fixed">
    <child link="arm_base" />
    <parent link="base" />
    <origin xyz="0.1 0.0 0.27" rpy="0 0 ${0.5*PI}"/>
  </joint>

  <xacro:j2s6s300 base_parent="arm_base" prefix="kinova" realsense_on_hand="$(arg realsense_on_hand)" simulation="true" />
</robot>
