<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Path to the world description file. -->
  <arg name="world_file" />

  <node pkg="rviz_world_loader" type="rviz_world_loader.py" name="rviz_world_loader" output="screen">
    <param name="world_file" value="$(arg world_file)"/>
  </node>

</launch>
